{% extends "blog/base.html" %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="container">
        <nav class="breadcrumb bg-transparent m-0 p-0">
            <a class="breadcrumb-item" href="#">Home</a>
            <a class="breadcrumb-item" href="#">Category</a>
            <a class="breadcrumb-item" href="#">Technology</a>
            <span class="breadcrumb-item active">News Title</span>
        </nav>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- News With Sidebar Start -->
<div class="container-fluid py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="{{url_for('static', filename='blog/imgs/' + post.thumb)}}" style="object-fit: cover;">
                    <div class="overlay position-relative bg-light">
                        <div class="mb-3">
                            <a href=""> {{post.category}} </a>
                            <span class="px-1">/</span>
                            <span> {{post.when.strftime('%B, %I %Y')}} </span>
                        </div>
                        <div>
                            <h3 class="mb-3"> {{post.title}} </h3>
                            <p>""{{post.summary}}""</p>
                            <p> {{post.body}} </p>
                            <!-- <h4 class="mb-3">Est dolor lorem et ea</h4> -->
                            {% if post.blog_images %}
                            {% for img in post.blog_images %}
                            <img class="img-fluid w-50 float-left mr-4 mb-2" src="{{url_for('static', filename='blog/imgs/' + img.image)}}">
                            {% endfor %}
                            {% endif %}
                            <p></p>
                            <!-- <h5 class="mb-3">Est dolor lorem et ea</h5>
                            <img class="img-fluid w-50 float-right ml-4 mb-2" src="img/news-500x280-2.jpg"> -->
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->
                {% include "flash.html" %}

                <!-- Comment List Start -->
                <div class="bg-light mb-3" style="padding: 30px;">
                    <h3 class="mb-4"> {{comment | length }} Comments</h3>
                    {% for c in comment %}
                    <div class="media">
                        {% if c.user.profile_photo %}
                        <img src="{{url_for('static', filename='user/imgs/' + c.user.profile_photo)}}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                        {% endif %}
                        <div class="media-body">
                            <h6><a href=""> {{c.name}} </a> <small><i>01 Jan 2045 at 12:00pm</i></small></h6>
                            <p> {{c.message}} </p>
                            <button onclick="reply()" class="btn btn-sm btn-outline-secondary">Reply</button>
                            <div id="replyDiv" style="display: none;">
                                <form action="/blog/add-reply/{{post.id}}/{{c.id}}" method="post">
                                    <div>
                                        
                                        <textarea name="message" required placeholder="Reply..."></textarea>
                                    </div>
                                    <div>
                                        <button type="submit"><span class="material-symbols-outlined">send</span></button>
                                    </div>
                                </form>
                            </div>
                            {% for r in replay[c.id] %}
                            <div class="media mt-4">
                                <img src="{{url_for('static', filename='user/imgs/' + c.user.profile_photo)}}" alt="Image" class="img-fluid mr-3 mt-1"
                                    style="width: 45px;">
                                <div class="media-body">
                                    <h6><a href=""> {{r.user.lastname}} {{r.user.firstname}} </a> <small><i> {{r.when.strftime('%A %B, %Y')}} </i></small></h6>
                                    <p> {{r.message}} </p>
                                    <!-- <button class="btn btn-sm btn-outline-secondary">Reply</button> -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Comment List End -->

                <!-- Comment Form Start -->
                <div class="bg-light mb-3" style="padding: 30px;">
                    <h3 class="mb-4">Leave a comment</h3>
                    <form action="/blog/add-comment/{{post.id}}" method="post">
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" name="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" name="email" class="form-control" id="email">
                        </div>
                        <!-- <div id="dontshow" class="form-group">
                            <label for="website">Website</label>
                            <input type="url" class="form-control" id="website">
                        </div> -->

                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea name="message" id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave a comment"
                                class="btn btn-primary font-weight-semi-bold py-2 px-3">
                        </div>
                    </form>
                </div>
                <!-- Comment Form End -->
            </div>

            <div class="col-lg-4 pt-3 pt-lg-0">
                <!-- Social Follow Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0"></h3>
                    </div>
                    <div class="d-flex mb-3">
                        <!-- <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                            <small class="fab fa-facebook-f mr-2"></small><small>12,345 Fans</small>
                        </a> -->
                        
                    </div>
                    
                </div>
                <!-- Social Follow End -->

                <!-- Newsletter Start -->
                <div id="dontshow" class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Newsletter</h3>
                    </div>
                    <div class="bg-light text-center p-4 mb-3">
                        <p>Aliqu justo et labore at eirmod justo sea erat diam dolor diam vero kasd</p>
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control form-control-lg" placeholder="Your Email">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Sign Up</button>
                            </div>
                        </div>
                        <small>Sit eirmod nonumy kasd eirmod</small>
                    </div>
                </div>
                <!-- Newsletter End -->

                <!-- Ads Start -->
                <div class="mb-3 pb-3">
                    <a href=""><img class="img-fluid" src="img/news-500x280-4.jpg" alt=""></a>
                </div>
                <!-- Ads End -->

                <!-- Popular News Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Trending</h3>
                    </div>
                    {% for trend in trend %}
                    <div class="d-flex mb-3">
                        <img src="{{url_for('static', filename='blog/imgs/' + trend.thumb)}}" style="width: 100px; height: 100px; object-fit: cover;">
                        <div class="w-100 d-flex flex-column justify-content-center bg-light px-3" style="height: 100px;">
                            <div class="mb-1" style="font-size: 13px;">
                                <a href=""> {{trend.category}} </a>
                                <span class="px-1">/</span>
                                <span> {{trend.when.strftime('%B, %I %Y')}} </span>
                            </div>
                            <a class="h6 m-0" href=""> {{trend.title}} </a>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
                <!-- Popular News End -->

                <!-- Tags Start -->
                <div class="pb-3">
                    <div class="bg-light py-2 px-4 mb-3">
                        <h3 class="m-0">Tags</h3>
                    </div>
                    <div class="d-flex flex-wrap m-n1">
                        {% for tag in tags %}
                        <a href="" class="btn btn-sm btn-outline-secondary m-1"> {{tag.text}} </a>
                        {% endfor %}
                        
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
</div>
<!-- News With Sidebar End -->
 <script>
    function reply(){
        const replyDiv = document.getElementById('replyDiv');
        if (replyDiv.style.display === 'none'){
            replyDiv.style.display = 'block';
        } else{
            replyDiv.style.display = 'none';
        }
    }
 </script>
{% endblock %}