   
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/Bootstrap/dist/css/bootstrap-grid.css')}}">

   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/fonts.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/main.min.css')}}">

   <!-- Theme Font -->
	<link rel="preload" type="text/css" href="https://html.crumina.net/html-olympus/css/theme-font.min.css" as="style">
   <!-- WebP Safari Support -->
	<script src="https://unpkg.com/webp-hero@0.0.0-dev.27/dist-cjs/polyfills.js"></script>
	<script src="https://unpkg.com/webp-hero@0.0.0-dev.27/dist-cjs/webp-hero.bundle.js"></script>

   <script src="{{url_for('static', filename='app/js/libs/webfontloader.min.js')}}"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>
   
   <!-- JS Scripts -->
<script src="{{url_for('static', filename='app/js/jQuery/jquery-3.4.1.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.appear.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.mousewheel.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/perfect-scrollbar.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.matchHeight.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/svgxuse.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/imagesloaded.pkgd.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/Headroom.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/velocity.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/ScrollMagic.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.waypoints.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.countTo.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/material.min.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/bootstrap-select.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/smooth-scroll.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/selectize.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/swiper.jquery.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/moment.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/daterangepicker.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/fullcalendar.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/isotope.pkgd.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/ajax-pagination.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/Chart.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/chartjs-plugin-deferred.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/circle-progress.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/loader.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/run-chart.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.magnific-popup.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/jquery.gifplayer.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/mediaelement-and-player.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/mediaelement-playlist-plugin.min.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/ion.rangeSlider.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/leaflet.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs/MarkerClusterGroup.js')}}"></script>

<script src="{{url_for('static', filename='app/js/main.js')}}"></script>
<script src="{{url_for('static', filename='app/js/libs-init/libs-init.js')}}"></script>
<script defer src="{{url_for('static', filename='app/fonts/fontawesome-all.js')}}"></script>

<script src="{{url_for('static', filename='app/Bootstrap/dist/js/bootstrap.bundle.js')}}"></script>
   <!-- SVG icons loader -->
<script src="{{url_for('static', filename='app/js/svg-loader.js')}}"></script>
<!-- /SVG icons loader -->
