<div class="page-center">

            <!-- profile cover start -->
            <div class="profile-cover">
                <img src="../assets/images/cover/1.jpg" class="img-fluid blur-up lazyload bg-img" alt="cover">
                <div class="profile-box d-lg-block d-none">
                    <div class="profile-content">
                        <div class="image-section">
                            <div class="profile-img">
                                <div>
                                    <img src="../assets/images/user-sm/15.jpg" class="img-fluid blur-up lazyload bg-img"
                                        alt="profile">
                                </div>
                                <span class="stats">
                                    <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload"
                                        alt="verified">
                                </span>
                            </div>
                        </div>
                        <div class="profile-detail">
                            <h2>kelin jasen <span>❤</span></h2>
                            <h5>kelin.jasen156@gmail.com</h5>
                            <div class="counter-stats">
                                <ul id="counter">
                                    <li>
                                        <h3 class="counter-value" data-count="546">0</h3>
                                        <h5>following</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value" data-count="26335">0</h3>
                                        <h5>likes</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value" data-count="6845">0</h3>
                                        <h5>followers</h5>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile"
                                class="btn btn-solid">edit profile</a>
                        </div>
                    </div>
                </div>
                <div class="setting-dropdown btn-group custom-dropdown arrow-none dropdown-sm">
                    <a class="btn-white btn-cover" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        edit cover
                    </a>
                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                        <ul>
                            <li>
                                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#choosePhoto"><i
                                        class="icon-font-light iw-16 ih-16" data-feather="image"></i>choose
                                    photo</a>
                            </li>
                            <li class="choose-file">
                                <a href="#"><i class="icon-font-light iw-16 ih-16" data-feather="upload"></i>upload
                                    photo</a>
                                <input type="file">
                            </li>
                            <li>
                                <a href="#"><i class="icon-font-light iw-16 ih-16" data-feather="maximize"></i>set
                                    position</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-font-light iw-16 ih-16" data-feather="trash-2"></i>remove
                                    photo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-lg-none d-block">
                <div class="profile-box">
                    <div class="profile-content">
                        <div class="image-section">
                            <div class="profile-img">
                                <div>
                                    <img src="../assets/images/user-sm/15.jpg" class="img-fluid blur-up lazyload bg-img"
                                        alt="profile">
                                </div>
                                <span class="stats">
                                    <img src="../assets/images/icon/verified.png" class="img-fluid blur-up lazyload"
                                        alt="verified">
                                </span>
                            </div>
                        </div>
                        <div class="profile-detail">
                            <h2>kelin jasen <span>❤</span></h2>
                            <h5>kelin.jasen156@gmail.com</h5>
                            <div class="counter-stats">
                                <ul>
                                    <li>
                                        <h3 class="counter-value" data-count="546">0</h3>
                                        <h5>following</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value" data-count="26335">0</h3>
                                        <h5>likes</h5>
                                    </li>
                                    <li>
                                        <h3 class="counter-value" data-count="6845">0</h3>
                                        <h5>followers</h5>
                                    </li>
                                </ul>
                            </div>
                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#editProfile"
                                class="btn btn-solid">edit profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- profile cover end -->

            <!-- profile menu start -->
            <div class="profile-menu section-t-space">
                <ul>
                    <li>
                        <a href="profile.html">
                            <i class="iw-14 ih-14" data-feather="clock"></i>
                            <h6>timeline</h6>
                        </a>
                    </li>
                    <li class="active">
                        <a href="profile-about.html">
                            <i class="iw-14 ih-14" data-feather="info"></i>
                            <h6>about</h6>
                        </a>
                    </li>
                    <li>
                        <a href="profile-friends.html">
                            <i class="iw-14 ih-14" data-feather="users"></i>
                            <h6>friends</h6>
                        </a>
                    </li>
                    <li>
                        <a href="profile-gallery.html">
                            <i class="iw-14 ih-14" data-feather="image"></i>
                            <h6>photos</h6>
                        </a>
                    </li>
                    <li class="d-xl-none d-inline-block">
                        <a href="profile-activityfeed.html">
                            <i class="iw-14 ih-14" data-feather="list"></i>
                            <h6>acitivity feed</h6>
                        </a>
                    </li>
                </ul>
                <ul class="right-menu d-xl-flex d-none">
                    <li>
                        <div class="search-bar input-style icon-left search-inmenu">
                            <i class="iw-16 ih-16 icon icon-theme" data-feather="search"></i>
                            <input type="text" class="form-control" placeholder="search here...">
                        </div>
                    </li>
                    <li>
                        <a href="profile-activityfeed.html">
                            <i class="iw-14 ih-14" data-feather="list"></i>
                            <h6>acitivity feed</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- profile menu end -->

            <div class="container-fluid section-t-space px-0">
                <div class="row">
                    <div class="content-left col-4 res-full-width order-1">
                        <!-- profile box -->
                        <div class="profile-about sticky-top">
                            <div class="card-title">
                                <h3>about</h3>
                                <h5>intro my self</h5>
                                <div class="settings">
                                    <div class="setting-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editProfile">
                                            <i class="icon icon-dark stroke-width-3 iw-11 ih-11"
                                                data-feather="edit-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="about-content">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="user"></i>
                                        </div>
                                        <div class="details">
                                            <h5>About</h5>
                                            <h6>{{user.Bio}}.</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <svg class="iw-18 ih-18">
                                                <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#cake"></use>
                                            </svg>
                                        </div>
                                        <div class="details">
                                            <h5>Birthday</h5>
                                            <h6>{{user.DOB}}</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="phone"></i>
                                        </div>
                                        <div class="details">
                                            <h5>Phone</h5>
                                            <h6><a href="tel:{{user.phone_number}}">{{user.phone_number}}</a> </h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="user"></i>
                                        </div>
                                        <div class="details">
                                            <h5>gender</h5>
                                            <h6>{{user.gender}}</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="heart"></i>
                                        </div>
                                        <div class="details">
                                            <h5>relationship status</h5>
                                            <h6>single</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="map-pin"></i>
                                        </div>
                                        <div class="details">
                                            <h5>lived in {{user.home_town}}</h5>
                                            <h6>last 5 year</h6>
                                        </div>
                                    </li>
<!--                                    <li>-->
<!--                                        <div class="icon">-->
<!--                                            <svg>-->
<!--                                                <use class="fill-color" xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#blood-drop">-->
<!--                                                </use>-->
<!--                                            </svg>-->
<!--                                        </div>-->
<!--                                        <div class="details">-->
<!--                                            <h5>blood group</h5>-->
<!--                                            <h6>A+ positive</h6>-->
<!--                                        </div>-->
<!--                                    </li>-->
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="mail"></i>
                                        </div>
                                        <div class="details">
                                            <h5>email address</h5>
                                            <h6><a href="mailto:{{user.email}}">{{user.email}}</a> </h6>
                                        </div>
                                    </li>
<!--                                    <li>-->
<!--                                        <div class="icon">-->
<!--                                            <i class="iw-18 ih-18" data-feather="at-sign"></i>-->
<!--                                        </div>-->
<!--                                        <div class="details">-->
<!--                                            <h5>website</h5>-->
<!--                                            <h6>friendbook.com</h6>-->
<!--                                        </div>-->
<!--                                    </li>-->
                                    <li>
                                        <div class="icon">
                                            <i class="iw-18 ih-18" data-feather="link"></i>
                                        </div>
                                        <div class="details">
                                            <h5>join</h5>
                                            <h6>{{user.member_since.strftime('%Y-%m-%d') }}</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-footer">
<!--                                <ul>-->
<!--                                    <li class="fb">-->
<!--                                        <a href="#">-->
<!--                                            <svg>-->
<!--                                                <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#facebook"></use>-->
<!--                                            </svg>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li class="tw">-->
<!--                                        <a href="#">-->
<!--                                            <svg>-->
<!--                                                <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#twitter"></use>-->
<!--                                            </svg>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li class="wa">-->
<!--                                        <a href="#">-->
<!--                                            <svg>-->
<!--                                                <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#whatsapp"></use>-->
<!--                                            </svg>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
                            </div>

                            <!--Here -->
                        </div>
                    </div>
                    <div class="content-center col-xl-8">
                        <!-- hobbies profile -->
                        <div class="about-profile section-b-space">
                            <div class="card-title">
                                <h3>hobbies & interest</h3>
                                <div class="settings">
                                    <div class="setting-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editProfile">
                                            <i class="icon icon-dark stroke-width-3 iw-11 ih-11"
                                                data-feather="edit-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <ul class="about-list">
                                <li>
                                    <h5 class="title">hobbies :</h5>
                                    <h6 class="content">In my spare time, I enjoy going to the gym and regularly
                                        partake
                                        in charity runs around the UK in order to help the community and to stay fit and
                                        healthy. I also enjoy keeping up to date with the current affairs, both
                                        national and international events, which helps me to get inspiration for the
                                        stories that I produce when I am working.
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">Favourite Movies :</h5>
                                    <h6 class="content">the pursuit of happiness, forrest gump, inception, the
                                        prestige,
                                        searching, coco, toy story, harry potter, parasite,the sixth sense, shutter
                                        island
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">favourite books :</h5>
                                    <h6 class="content">the monk who have sold his ferrari, who will cry when you die,
                                        the alchemist, 5 AM club, the power of subconsious mind, the old man and his god
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">favourite games :</h5>
                                    <h6 class="content">assassin's creed valhalla, minecraft, story about my uncle,
                                        cyberpunk 2077, the last of us part ii, pubg, call of duty warzone, fortnite,
                                        rainbow six siege</h6>
                                </li>
                                <li>
                                    <h5 class="title">Favourite Bands / Artists:</h5>
                                    <h6 class="content">Talking Heads, Carl Perkins, Iron Maiden, one direction, the
                                        police, onerepublic, the cure</h6>
                                </li>
                                <li>
                                    <h5 class="title">Favourite series :</h5>
                                    <h6 class="content">breaking bad, stranger things, money heist, lost in space,
                                        find
                                        yourself, 13 Reasons Why, Ozark , Black Mirror, The Witcher, Riverdale, The
                                        Crown
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">other interest :</h5>
                                    <h6 class="content">Sports, Blogging, Volunteering, Traveling, Yoga, Strategic
                                        Gaming
                                    </h6>
                                </li>
                            </ul>
                        </div>
                        <!-- education profile -->
                        <div class="about-profile section-b-space">
                            <div class="card-title">
                                <h3>education & work</h3>
                                <div class="settings">
                                    <div class="setting-btn">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editProfile">
                                            <i class="icon icon-dark stroke-width-3 iw-11 ih-11"
                                                data-feather="edit-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <ul class="about-list">
                                <li>
                                    <h5 class="title">Junior Architect :</h5>
                                    <h6 class="content">Lopez & Zhang Architects, San Diego, CA / August 2018—present
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">Architect intern:</h5>
                                    <h6 class="content">Goldberg & Richards, Los Angeles, CA / August 2015—August 2018
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">Master of Architecture :</h5>
                                    <h6 class="content">Woodbury Univercity, 2013-2015
                                    </h6>
                                </li>
                                <li>
                                    <h5 class="title">bachlor of architecture:</h5>
                                    <h6 class="content">Woodbury Univercity, 2009-2013
                                    </h6>
                                </li>
                            </ul>
                        </div>
                        <!-- friend list -->
                        <div class="friend-list-box section-t-space section-b-space">
                            <div class="card-title">
                                <h3>friends</h3>
                                <div class="right-setting">
                                    <div class="search-input input-style icon-right">
                                        <i data-feather="search" class="icon-dark icon iw-16"></i>
                                        <input type="text" class="form-control" placeholder="find friends...">
                                    </div>
                                    <div class="ms-2 setting-dropdown">
                                        <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                            <a href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                filter
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                <ul>
                                                    <li class="active">
                                                        <a href="#">all friends</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">close friends</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">office friends</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="friend-list row">
                                    <div class="col-sm-6">
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="profile(friend).html" class="user-img">
                                                    <img src="../assets/images/user-sm/1.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="user">
                                                    <span class="available-stats"></span>
                                                </a>
                                                <div class="media-body">
                                                    <a href="profile(friend).html">
                                                        <h5 class="user-name">Paige Turner</h5>
                                                    </a>
                                                    <h6>alabma, USA</h6>
                                                </div>
                                            </div>
                                            <div class="setting-btn ms-auto setting-dropdown no-bg">
                                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                    <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="icon icon-font-color iw-14"
                                                            data-feather="more-horizontal"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="user"></i>view
                                                                    profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="message-square"></i>message</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="x-octagon"></i>unfollow
                                                                    sufiya</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="profile(friend).html" class="user-img">
                                                    <img src="../assets/images/user-sm/2.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="user">
                                                    <span class="available-stats"></span>
                                                </a>
                                                <div class="media-body">
                                                    <a href="profile(friend).html">
                                                        <h5 class="user-name">Josephin water</h5>
                                                    </a>
                                                    <h6>alabma, USA</h6>
                                                </div>
                                            </div>
                                            <div class="setting-btn ms-auto setting-dropdown no-bg">
                                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                    <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="icon icon-font-color iw-14"
                                                            data-feather="more-horizontal"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="user"></i>view
                                                                    profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="message-square"></i>message</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="x-octagon"></i>unfollow
                                                                    sufiya</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="profile(friend).html" class="user-img">
                                                    <img src="../assets/images/user-sm/3.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="user">
                                                    <span class="available-stats"></span>
                                                </a>
                                                <div class="media-body">
                                                    <a href="profile(friend).html">
                                                        <h5 class="user-name">Petey Cruiser</h5>
                                                    </a>
                                                    <h6>alabma, USA</h6>
                                                </div>
                                            </div>
                                            <div class="setting-btn ms-auto setting-dropdown no-bg">
                                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                    <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="icon icon-font-color iw-14"
                                                            data-feather="more-horizontal"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="user"></i>view
                                                                    profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="message-square"></i>message</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="x-octagon"></i>unfollow
                                                                    sufiya</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="profile(friend).html" class="user-img">
                                                    <img src="../assets/images/user-sm/4.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="user">
                                                    <span class="available-stats"></span>
                                                </a>
                                                <div class="media-body">
                                                    <a href="profile(friend).html">
                                                        <h5 class="user-name">Anna Sthesia</h5>
                                                    </a>
                                                    <h6>alabma, USA</h6>
                                                </div>
                                            </div>
                                            <div class="setting-btn ms-auto setting-dropdown no-bg">
                                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                    <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="icon icon-font-color iw-14"
                                                            data-feather="more-horizontal"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="user"></i>view
                                                                    profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="message-square"></i>message</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="x-octagon"></i>unfollow
                                                                    sufiya</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="profile(friend).html" class="user-img">
                                                    <img src="../assets/images/user-sm/5.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="user">
                                                    <span class="available-stats"></span>
                                                </a>
                                                <div class="media-body">
                                                    <a href="profile(friend).html">
                                                        <h5 class="user-name">Anna Mull</h5>
                                                    </a>
                                                    <h6>alabma, USA</h6>
                                                </div>
                                            </div>
                                            <div class="setting-btn ms-auto setting-dropdown no-bg">
                                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                    <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="icon icon-font-color iw-14"
                                                            data-feather="more-horizontal"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="user"></i>view
                                                                    profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="message-square"></i>message</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="x-octagon"></i>unfollow
                                                                    sufiya</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="friend-box">
                                            <div class="media">
                                                <a href="profile(friend).html" class="user-img">
                                                    <img src="../assets/images/user-sm/6.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="user">
                                                    <span class="available-stats"></span>
                                                </a>
                                                <div class="media-body">
                                                    <a href="profile(friend).html">
                                                        <h5 class="user-name">Paul Molive</h5>
                                                    </a>
                                                    <h6>alabma, USA</h6>
                                                </div>
                                            </div>
                                            <div class="setting-btn ms-auto setting-dropdown no-bg">
                                                <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                    <div role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="icon icon-font-color iw-14"
                                                            data-feather="more-horizontal"></i>
                                                    </div>
                                                    <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                        <ul>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="user"></i>view
                                                                    profile</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="message-square"></i>message</a>
                                                            </li>
                                                            <li>
                                                                <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                        data-feather="x-octagon"></i>unfollow
                                                                    sufiya</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="see-all">
                                <a href="profile-friends.html" class="btn btn-solid">see all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>