<div class="gallery-section section-t-space">
                            <div class="gallery-top">
                                <div class="card-title">
                                    <h3>gallery</h3>
                                    <h5>156 photos</h5>
                                    <div class="settings">
                                        <div class="setting-btn">
                                            <a href="#">
                                                <i class="icon icon-dark stroke-width-3 iw-11 ih-11"
                                                    data-feather="rotate-cw"></i>
                                            </a>
                                        </div>
                                        <div class="setting-btn ms-2 setting-dropdown">
                                            <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                <a href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="icon-dark stroke-width-3 icon iw-11 ih-11"
                                                        data-feather="sun"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="edit"></i>edit
                                                                profile</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="user"></i>view
                                                                profile</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-section ratio_square">
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="overlay">
                                                <div class="portfolio-image">
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                        data-bs-target="#imageModel">
                                                        <img src="../assets/images/story/1.jpg" alt=""
                                                            class="img-fluid blur-up lazyload bg-img">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="overlay">
                                                <div class="portfolio-image">
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                        data-bs-target="#imageModel">
                                                        <img src="../assets/images/story/2.jpg" alt=""
                                                            class="img-fluid blur-up lazyload bg-img">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="overlay">
                                                <div class="portfolio-image">
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                        data-bs-target="#imageModel">
                                                        <img src="../assets/images/story/3.jpg" alt=""
                                                            class="img-fluid blur-up lazyload bg-img">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 row m-0">
                                            <div class="col-12 pt-cls p-0">
                                                <div class="overlay">
                                                    <div class="portfolio-image">
                                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                                            data-bs-target="#imageModel">
                                                            <img src="../assets/images/story/4.jpg" alt=""
                                                                class="img-fluid blur-up lazyload bg-img">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 pt-cls p-0">
                                                <div class="overlay">
                                                    <div class="portfolio-image">
                                                        <a href="javascript:void(0)" data-bs-toggle="modal"
                                                            data-bs-target="#imageModel">
                                                            <img src="../assets/images/story/6.jpg" alt=""
                                                                class="img-fluid blur-up lazyload bg-img">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-8 pt-cls">
                                            <div class="overlay">
                                                <div class="portfolio-image">
                                                    <a href="javascript:void(0)" data-bs-toggle="modal"
                                                        data-bs-target="#imageModel">
                                                        <img src="../assets/images/story/5.jpg" alt=""
                                                            class="img-fluid blur-up lazyload bg-img">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

