<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
crossorigin="anonymous"></script> 

       <div class="chat-content">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="user1" role="tabpanel" aria-labelledby="user1">
                    <div class="tab-box">
                        <div class="user-chat">
                            <div class="user-title">
                                <div class="back-btn d-block d-sm-none">
                                    <i data-feather="arrow-left"></i>
                                </div>
                                <div class="media list-media">
                                    <div class="story-img">
                                        <div class="user-img">
                                            <img src="../assets/images/user/2.jpg"
                                                class="img-fluid blur-up lazyload bg-img" alt="user">
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h5>{{other.username}}</h5>
                                        <h6>{{other.last_seen.strftime('%H-%M')}}</h6>
                                    </div>
                                </div>
                                <div class="menu-option">
                                    <ul>
                                        <li>
                                            <a href="#"><i data-feather="phone" class="icon-dark"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i data-feather="video" class="icon-dark"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i data-feather="settings" class="icon-dark"></i></a>
                                        </li>
                                        <li class="d-block d-lg-none info-user">
                                            <a href="#"><i data-feather="info" class="icon-dark"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="chat-history">
                               
                                <div class="avenue-messenger">
                                    <!--loop message-->
                                       <div class="chat">
                                        

                                       <!-- <div class="messages-content"> -->
                                        
                                           <!-- <div class="message new"> -->
                                           
                                               <!-- <div class="timestamp">15:13</div>
                                                <div class="checkmark-sent-delivered">✓</div>
                                                <div class="checkmark-read">✓</div>
                                            </div> -->
                                            
                                            <!-- <div class="message message-personal new" id="messages" style="position: relative; left: 3pc;"></div> -->
                                                 <!-- <div class="timestamp">15:13</div>
                                                <div class="checkmark-sent-delivered">✓</div>
                                                <div class="checkmark-read">✓</div> -->
                                            <!-- </div>  -->
                                            {% include "chat.html" %}
                                            



                                            <!--delete till here-->
                                        </div>
                                        <!-- <div id="typing-indicator" class="typing-indicator"></div> -->
                                        <!-- <div id="messages"></div> -->
                                        <!-- <form id="messageForm">
                                        
                                        <div class="message-box">
                                            <input type="text" id="username">
                                            <input class="message-input emojiPicker" id="message"
                                                placeholder="Type message...">
                                            <div class="add-extent">
                                                <i class="fas fa-plus animated-btn"></i> 
                                                <div class="options"> 
                                                    <ul>
                                                        <li><img src="https://themes.pixelstrap.com/friendbook/assets/svg/image.svg" alt=""></li>
                                                        <li><img src="https://themes.pixelstrap.com/friendbook/assets/svg/paperclip.svg" alt=""></li>
                                                        <li><img src="https://themes.pixelstrap.com/friendbook/assets/svg/camera.svg" alt=""></li>
                                                    </ul>
                                                </div> 
                                             </div>
                                            <button id="send_message" class="message-submit"><i data-feather="send" ></i></button>
                                        </div>
                                    </form>  -->
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="user-info">
                            <div class="back-btn d-lg-none d-block">
                                <i data-feather="x" class="icon-theme"></i>
                            </div>
                            <div class="user-image">
                                <img src="../assets/images/user/2.jpg" class="img-fluid blur-up lazyload bg-img" alt="">
                            </div>
                            <div class="user-name">
                                <h5>{{user.lastname}} {{user.firstname}} </h5>
                                <h6>london, united kingdom</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora possimus magnam
                                    adipisci aspernatur.</p>
                                <div class="social-btn">
                                    <ul>
                                        <li class="facebook">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#facebook"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#twitter"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="whatsapp">
                                            <a href="#">
                                                <svg>
                                                    <use xlink:href="https://themes.pixelstrap.com/friendbook/assets/svg/icons.svg#whatsapp"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                            <!-- <div class="user-gallery">
                                <h5>media <a href="#">see all</a></h5>
                                <div class="gallery-section">
                                    <div class="portfolio-section ratio_square">
                                        <div class="container-fluid p-0">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="overlay">
                                                        <div class="portfolio-image">
                                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                data-bs-target="#imageModel">
                                                                <img src="../assets/images/post/2.jpg" alt=""
                                                                    class="img-fluid blur-up lazyload bg-img">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="overlay">
                                                        <div class="portfolio-image">
                                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                data-bs-target="#imageModel">
                                                                <img src="../assets/images/post/4.jpg" alt=""
                                                                    class="img-fluid blur-up lazyload bg-img">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="overlay">
                                                        <div class="portfolio-image">
                                                            <a href="javascript:void(0)" data-bs-toggle="modal"
                                                                data-bs-target="#imageModel">
                                                                <img src="../assets/images/post/11.jpg" alt=""
                                                                    class="img-fluid blur-up lazyload bg-img">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!--end user info-->
                        </div>
                    </div>
                </div>
            </div>
       </div>
       
       
       