<div class="sticky-top">
                            <!-- like page -->
                            <div class="page-list section-t-space">
                                <div class="card-title">
                                    <h3>liked pages</h3>
                                    <h5>18 pages</h5>
                                    <div class="settings">
                                        <div class="setting-btn">
                                            <a href="#" class="d-flex">
                                                <i class="icon icon-dark stroke-width-3 iw-11 ih-11"
                                                    data-feather="rotate-cw"></i>
                                            </a>
                                        </div>
                                        <div class="setting-btn ms-2 setting-dropdown">
                                            <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                <a href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="icon-dark stroke-width-3 icon iw-11 ih-11"
                                                        data-feather="sun"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="edit"></i>see all</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="search"></i>find
                                                                page</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="settings"></i>settings</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-content">
                                    <ul>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                    <img src="../assets/images/pages-logo/1.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4>chrimson agency</h4>
                                                    <h6>clothing store
                                                        <span><i data-feather="user"
                                                                class="icon-font-color iw-13 ih-13"></i>15k</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="favourite-btn active">
                                                <i data-feather="star" class="icon-dark iw-14 ih-14"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                    <img src="../assets/images/pages-logo/2.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4>Digital Pixel</h4>
                                                    <h6>software company
                                                        <span><i data-feather="user"
                                                                class="icon-font-color iw-13 ih-13"></i>158k</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="favourite-btn">
                                                <i data-feather="star" class="icon-dark iw-14 ih-14"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                    <img src="../assets/images/pages-logo/3.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4>the angle bar</h4>
                                                    <h6>disco bar
                                                        <span><i data-feather="user"
                                                                class="icon-font-color iw-13 ih-13"></i>8k</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="favourite-btn active">
                                                <i data-feather="star" class="icon-dark iw-14 ih-14"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                    <img src="../assets/images/pages-logo/4.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4>fivestar food</h4>
                                                    <h6>restaurant
                                                        <span><i data-feather="user"
                                                                class="icon-font-color iw-13 ih-13"></i>186k</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="favourite-btn">
                                                <i data-feather="star" class="icon-dark iw-14 ih-14"></i>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="media">
                                                <div class="img-part">
                                                    <img src="../assets/images/pages-logo/5.jpg"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <h4>royal watch</h4>
                                                    <h6>watch shop
                                                        <span><i data-feather="user"
                                                                class="icon-font-color iw-13 ih-13"></i>65k</span>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="favourite-btn">
                                                <i data-feather="star" class="icon-dark iw-14 ih-14"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- weather section -->
                            <div class="weather-section section-t-space">
                                <div class="card-title light-version">
                                    <h3>weather</h3>
                                    <div class="settings">
                                        <div class="setting-btn light-btn">
                                            <a href="#" class="d-flex">
                                                <i class="icon icon-light stroke-width-3 iw-11 ih-11"
                                                    data-feather="rotate-cw"></i>
                                            </a>
                                        </div>
                                        <div class="setting-btn light-btn ms-2 setting-dropdown">
                                            <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                                                <a class="d-flex" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="icon-light stroke-width-3 iw-12 ih-12"
                                                        data-feather="sun"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                                                    <ul>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="edit"></i>change
                                                                city</a>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-font-light iw-16 ih-16"
                                                                    data-feather="settings"></i>setting</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="weather-content">
                                    <div class="top-title">
                                        <h2>28°C</h2>
                                        <h5>4.45 pm</h5>
                                    </div>
                                    <h5>sunny day</h5>
                                    <h6>21 march 2021 (monday) <span>denmark</span></h6>
                                </div>
                                <div class="flaks-img">
                                    <img src="../assets/images/icon/snow-flaks.png" class="img-fluid blur-up lazyload"
                                        alt="snow">
                                </div>
                                <div class="snowflakes" aria-hidden="true">
                                    <div class="snowflake">
                                        ❅
                                    </div>
                                    <div class="snowflake">
                                        ❆
                                    </div>
                                    <div class="snowflake">
                                        ❅
                                    </div>
                                    <div class="snowflake">
                                        ❆
                                    </div>
                                    <div class="snowflake">
                                        ❅
                                    </div>
                                    <div class="snowflake">
                                        ❆
                                    </div>
                                    <div class="snowflake">
                                        ❅
                                    </div>
                                    <div class="snowflake">
                                        ❆
                                    </div>
                                    <div class="snowflake">
                                        ❅
                                    </div>
                                    <div class="snowflake">
                                        ❆
                                    </div>
                                    <div class="snowflake">
                                        ❅
                                    </div>
                                    <div class="snowflake">
                                        ❆
                                    </div>
                                </div>
                            </div>
                        </div>























































