<div class="story-section ratio_115">
    <div class="slide-8 no-arrow default-space">
        <div>
            <div class="story-box add-box">
                <div>
                    <img src="{{url_for('static', filename='assets/images/story-bg.jpg')}}" class="img-fluid blur-up lazyload bg-img"
                        alt="">
                    <div class="add-icon">
                        <div class="icon">
                            <img src="{{url_for('static', filename='assets/images/icon/plus.png')}}" class="img-fluid blur-up lazyload"
                                alt="plus">
                        </div>
                        <h6>add stories</h6>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay orange-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/6.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>Anna Mull</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay pink-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/2.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>josephin water</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay skin-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/1.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>josephin water</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay yellow-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/3.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>Petey Cruiser</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay skin-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/5.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>Paul Molive</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay pink-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/4.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>Anna Sthesia</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay blue-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/7.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>Paige Turner</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="story-box" data-bs-toggle="modal" data-bs-target="#storyModel">
                <div class="adaptive-overlay"></div>
                <div class="story-bg">
                    <img src="{{url_for('static', filename='assets/images/story/8.jpg')}}" class="img-fluid bg-img"
                        data-adaptive-background='1' alt="">
                </div>
                <div class="story-content">
                    <h6>Bob Frapples</h6>
                    <span>active now</span>
                </div>
                <div class="story-setting setting-dropdown">
                    <div class="btn-group custom-dropdown arrow-none dropdown-sm">
                        <a href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="icon-light iw-13 ih-13" data-feather="sun"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right custom-dropdown">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="volume-x"></i>mute josephin</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-font-light iw-16 ih-16"
                                            data-feather="user"></i>view profile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>